[Desktop Entry]
Name[en_US]=Update Vent
Path=/home/pi/Ventilator/software/utils/rpi_config
Exec=lxterminal -t "Ventilator updater" --working-directory=/home/pi/Ventilator/software/utils/rpi_config -e "source ~/.profile && ./update.sh"
Icon=/home/pi/Ventilator/software/utils/icons/inhale.png
Terminal=true
Type=Application
Categories=Application
