[Desktop Entry]
Name[en_US]=Ventilator debugger
Path=/home/pi/Ventilator/software/utils
Exec=lxterminal -t "Ventilator debugger" --working-directory=/home/pi/Ventilator/software/utils -e "source ~/.profile && ./controller_debug.py"
Icon=/home/pi/Ventilator/software/utils/icons/logo_reverse.png
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;
