[Desktop Entry]
Name[en_US]=Ventilator GUI
Path=/home/pi/Ventilator/software/gui
Exec=/home/pi/Ventilator/software/gui/gui.sh --run --serial-port /dev/ttyS0
Icon=/home/pi/Ventilator/software/utils/icons/logo_transparent.png
Terminal=true
Type=Application
Categories=Application
