!.gitignore

# OS
install
.DS_Store
*.app
*.desktop
*.user
*.log

# IDE: VSCode
.vscode

# IDE: JetBrains
.idea
.idea/
CMakeLists.txt.user
cmake-build-*/

# IDE: other
.ctags
ctags
tags
.cscope.out
cscope.out
*~

.clangd/
.*.swp
*.map
last_graph.dat

#performance test data
local_data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
