build/
build_autotests/
.pio/
install
source/config/*
*.app
*.desktop
*.user
*.log
!.gitignore
software/controller/.gitignore
software/common/.gitignore

#IDE
software/controller/CMakeLists*
software/common/CMakeLists*
cmake-build-*/
.idea/
.idea
.vscode/
.ctags
ctags
tags
.cscope.out
cscope.out
*~

#CAD/Inventor
*.lck
OldVersions/

gui/build
.DS_Store
.clangd/
.*.swp
*.map
__pycache__/
last_graph.dat
.pytype/

coverage_reports

# KiCAD backups
*.sch-bak
*.kicad_pcb-bak
*.bak
# KiCAD temp/unneeded cache files
_autosave-*
*.000
fp-info-cache
# (project symbol cache library not needed as all symbols kept in RespiraWorks libraries)
*-cache.lib

#performance test data
test_data/
