build/
build_autotests/
.pio/
install
source/config/*
*.app
*.desktop
*.user
*.log
!.gitignore

#IDE
CMakeLists.txt.user
cmake-build-*/
.idea/
.idea
.vscode/

gui/build
.DS_Store
.clangd/
.*.swp
*.map
__pycache__/
last_graph.dat
