[Desktop Entry]
Name[en_US]=Ventilator update
Path=/home/respira/ventilator/software/utils/rpi_config
Exec=mate-terminal -t "Ventilator update" --working-directory=/home/respira/ventilator/software/utils/rpi_config -e "source ~/.profile && ./update.sh"
Icon=/home/respira/ventilator/software/utils/icons/inhale.png
Terminal=true
Type=Application
Categories=Application
