[Desktop Entry]
Name[en_US]=Ventilator GUI
Path=/home/respira/ventilator/software/gui
Exec=mate-terminal -t "Ventilator GUI" --working-directory=/home/respira/ventilator/software/gui -e "./gui.sh run --serial-port /dev/ttyS0"
Icon=/home/respira/ventilator/software/utils/icons/logo_transparent.png
Terminal=true
Type=Application
Categories=Application
