#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/respira/ventilator/software/utils/icons/logo_reverse.png
Icon[en_US]=/home/respira/ventilator/software/utils/icons/logo_reverse.png
Name[en_US]=Github repo
Exec=firefox https://github.com/RespiraWorks/Ventilator
Name=Github repo
