#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=rw_debug
Icon[en_US]=rw_debug
Name[en_US]=debug
Exec=xterm -title "Vent debug" -hold -e "source ~/.profile && ${HOME}/ventilator/software/controller/controller.sh debug"
Name=debug
